@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", "sans-serif";
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 10vh;
  background: #ff9933;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar a:hover {
  color: #333;
  transition: .5s;
}

.footer {
  width: 100%;
  height: 10vh;
  background: #ff9933;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 300px;
  height: 300px;
  transition: all 0.3 ease;
}

img:hover {
  transform: scale(1.1);
}

button {
  padding: 10px;
  background: #ff9933;
  color: white;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #666;
  transition: .5s;
}
